.stats-temp {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.type {
    background-color: #77d823;
    width: 100%;
    text-align: center;
}

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.rank span {
    width: fit-content;
}

.stats-details {
    display: flex;
    width: 100%;
}

.stats-count {
    text-align: right;
    padding: 4px;
}