.stats-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.stats {
    width: fit-content;
    background-color: #77d823;
    border-radius: 10px;
}

.sutats {
    display: flex;
    border: solid 2px #72bf2d;
    border-radius: 10px 10px 0 0;
}

.sutats .stat-item:first-child>.stat-header {
    border-radius: 8px 0 0 0;
}


.sutats .stat-item:last-child>.stat-header {
    border-radius: 0 8px 0 0;
}

.sutats .stat-item:first-child>.stat-points {
    border-radius: 0 0 0 8px;
}

.sutats .stat-item:last-child>.stat-points {
    border-radius: 0 0 8px 0;
}

.stat-item {
    width: fit-content;
    border-right: dashed 2px #72bf2d;
}

.stat-item:last-child {
    border-right: none;
}

.stat-header,
.stat-points {
    background-color: #77d823;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 2px 2px 4px 2px;
    text-shadow: 0 1.9px 0.4px #508625;
}

.stat-content {
    background-color: white;
    display: flex;
    font-size: 15px;
    text-align: right;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.stat-input>[type=number]::-webkit-inner-spin-button,
.stat-input>[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stat-input>input[type=number] {
    text-align: right;
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background: linear-gradient(0deg, #774522, #b3713f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maxstat {
    color: #ba7418;
    font-size: 17px;
}

.stats-total-points-panel {
    background: linear-gradient(90deg, #fff5b0, #ffc027);
    text-shadow:
        -0.6px -0.6px 0.8px white,
        0.6px -0.6px 0.8px white,
        -0.6px 0.6px 0.8px white,
        0.6px 0.6px 0.8px white;
    width: 100%;
    border-radius: 0 0 8px 8px;
    text-align: center;
    color: #794015;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: #f2a82d;
}


@media (max-width: 540px) {
    .stats {
        width: 90%;
    }

    .sutats {
        flex-direction: column;
        width: 100%;
    }

    .stats .stat-item:first-child>.stat-header {
        border-radius: 8px 8px 0 0;
    }

    .stats .stat-item:last-child>.stat-header {
        border-radius: 0;
    }

    .stats .stat-item:first-child>.stat-points {
        border-radius: 0;
    }

    .stat-points {
        border-bottom: solid 2px #72bf2d;
    }

    .stats .stat-item:last-child>.stat-points {
        border-radius: 0 0 8px 8px;
        border-bottom: none;
    }


    .stat-item {
        border-right: none;
        width: 100%;
    }

    .stat-header {
        text-align: left;
        padding-left: 0.4rem;
    }

    .stat-text-content {
        margin-left: auto;
    }
}